@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my simple contact info program for K-Love!  Please click something from the navigation bar above to manipulate data.</p>
</div>
