@{
    ViewData["Title"] = "Alas, there is nothing.";
}
<h1>@ViewData["Title"]</h1>

<p>Greetings, stranger.  Whatever quest drives you, abandon it.  You shall find no answers in these desolate wastes.</p>
